.footer-parent{
    background-color: black;
    color: white;
    padding: 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}

.logo-footer-container img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-footer-container p{
    color: #fff;
    font-family: 'Nunito Sans',sans-serif;
}

.footer-links{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a{
    color: white;
}
.footer-links li{
    font-family: 'Nunito Sans',sans-serif;
}

.footer-socialmedia-links-container a{
    color: white;
    margin: 5px;
    font-size: 20px;
}

.footer-socialmedia-links-container a:hover{
    cursor: pointer;
}

.footer-parent p{
    text-align: center;
    font-family: 'Nunito Sans',sans-serif;
}

@media (max-width:560px){
    .footer-container{
        flex-direction: column;
        gap: 40px;
    }
    .footer-parent{
        padding: 20px;
    }
    .footer-container{
        padding: 0;
    }
    .footer-socialmedia-links-container a:nth-child(1){
        margin-left: 0;
    }
}