.slide{
    width: 100vw;
    height: 100vh;
}
.slide img{
    width: 100vw;
    height: 100vh;
}

.background-container{
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
}

.hero-container{
    position: relative;
    top: 300px;
    margin-left:30px ;
}

.hero-container h1{
    /* color: rgba(255, 0, 0, 0.682); */
    color: #fff;
    /* color: transparent; */
    -webkit-text-stroke: 1px black;
    font-family: 'Poppins',sans-serif;
    font-size:50px;
    margin-bottom: 30px;
    text-shadow: 2px 2px gray;
}

.hero-container p{
    font-family: "Nunito Sans",sans-serif;
    color: #fff;
    font-weight: 500;
}
