.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  position: absolute;
  width: 100%; 
  z-index: 1; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.logo {
  width: 120px;
  height: 60px;
}

.navbar i {
  color: white; 
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content:flex-end;
  padding: 0;
  position: absolute;
  top: calc(100%); 
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease; 
  transform: translateY(-100%); 
  opacity: 0;
  visibility: hidden;
}

.nav-links.show {
  transform: translateY(0); 
  opacity: 1;
  visibility: visible;
}

.nav-links.hide {
  transform: translateY(-100%); 
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease; 
}

.nav-links li {
  margin: 20px 0;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-links a.active {
  font-weight: bold;
  color: #ffffff;
}

.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-links button{
  background-color: #ffffff;
  border-radius: 12px;
  padding:10px;
  font-weight: 700;
  font-family: 'Poppins',sans-serif;
}

@media (min-width: 769px) {
  .nav-links {
    position: static;
    flex-direction: row;
    background-color: transparent;
    top: 0;
    transform: none; 
    opacity: 1;
    visibility: visible;
    margin-left: auto;
  }

  .nav-links li {
    margin: 0 15px;
  }

  .nav-links a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-left: 0;
  }

  .menu-btn {
    display: block;
    align-self: center;
  }

  .nav-links.show {
    transform: translateY(0); 
    opacity: 1;
    visibility: visible;
  }

  .nav-links.hide {
    transform: translateY(-100%); 
    opacity: 0;
    visibility: hidden;
    transition: 1s ease;
  }

  .nav-links button{
    margin-bottom: 20px;
  }

  .nav-links li {
    margin: 20px 0;
  }
}
