.talent{
    background-color: black;
    width: 100%;
    height: fit-content;
}

.talent-parent{
    height:fit-content;
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 20px;
    padding-bottom: 0px;
    justify-content: space-between;
    background-color: black;
}

.talent-container-left{
    flex-basis: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    color: white;
}

.talent-container-left h1{
    font-family: 'Poppins',sans-serif;
    font-size: 50px;
    text-align: center;
}

.talent-container-left p{
    font-family: 'Nunito Sans',sans-serif;
    text-align: center;
}

.talent-container-right{
    flex-basis: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.talent-container-right img{
    width: 80%;
    height: 80vh;
    object-fit: contain;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.view-btn{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
    margin-top: 40px;
}

.view-btn:hover{
    background-color: rgb(164, 161, 161);
    color: white;
}

@media (max-width:1024px){
    .talent-parent{
        flex-direction: column;
    }
}